
body {
    margin: 20px;
    background-color: lightblue;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}

hr{
    border: 1px solid black;
}

.error{
    color: red;
    font-size: 1.3em;

}
